@using Entidades
@using Domain.Entidades_Negocio
@model Entidades.Alumno
@{
    ViewBag.Title = "Delete";
    List<Estado> _lestado = new List<Estado>();
    NEstado _nestado = new NEstado();
    List<EstatusAlumnos> _lestatus = new List<EstatusAlumnos>();
    NEstatus _nestatus = new NEstatus();
}

<h2>Eliminar Alumnos</h2>
<dl class="dl-horizontal">
    <dt>
        ID
    </dt>
    <dd>
        @Html.DisplayFor(m => m.ID)
    </dd>
    <dt>
        Nombre
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Nombre)
    </dd>
    <dt>
        Primer Apellido
    </dt>
    <dd>
        @Html.DisplayFor(m => m.PrimerApellido)
    </dd>
    <dt>
        Segundo Apellido
    </dt>
    <dd>
        @Html.DisplayFor(m => m.SegundoApellido)
    </dd>
    <dt>
        Fecha de Nacimiento
    </dt>
    <dd>
        @Html.DisplayFor(m => m.FechaNacimiento)
    </dd>
    <dt>
        CURP
    </dt>
    <dd>
        @Html.DisplayFor(m => m.CURP)
    </dd>
    <dt>
        Correo
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Correo)
    </dd>
    <dt>
        Telefono
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Telefono)
    </dd>
    <dt>
        Sueldo Mensual
    </dt>
    <dd>
        @Html.DisplayFor(m => m.SueldoMensual)
    </dd>
    <dt>
        Estado
    </dt>
    <dd>
        @{
            _lestado = _nestado.Consultar();
            var resultado = from estado in _lestado
                            where estado.ID == Model.IdEstadoOrig
                            select new
                            {
                                Nombre = estado.Nombre
                            };
            foreach (var estado in resultado)
            {
                var es = estado.Nombre.ToString();
                @es
            }

        }
    </dd>
    <dt>
        Estatus
    </dt>
    <dd>
        @{
            _lestatus = _nestatus.Consultar();
            var rEstatus = from estatus in _lestatus
                           where estatus.ID == Model.IdEstatus
                           select new
                           {
                               Nombre = estatus.Nombre
                           };

            foreach (var estatus in rEstatus)
            {
                var est = estatus.Nombre.ToString();
                @est
            }
        }
    </dd>
</dl>
<div class="form-group">
    <div class="col-md-offset-2 col-md-2">
        <a class="btn btn-danger" href="~/Alumnos/EliminaAlumno/@Model.ID">Eliminar</a>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-2">
        <a href="~/Alumnos/Index">Regresar a la Lista</a>
    </div>
</div>

