@model Entidades.AportacionesIMSS

<div>
    <dl class="dl-horizontal">
        <dt>
            Enfermedad y Maternidad
        </dt>
        <dd>
            @Html.DisplayFor(m => m.EnfermedadMaternidad)
        </dd>
        <dt>
            Invalidez y Vida
        </dt>
        <dd>
            @Html.DisplayFor(m => m.InvalidezVida)
        </dd>
        <dt>
            Retiro
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Retiro)
        </dd>
        <dt>
            Cesantia
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Cesantia)
        </dd>
        <dt>
            Infonavit
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Infonavit)
        </dd>
    </dl>
</div>
