@model Entidades.ItemISR

<div>
    <dl class="dl-horizontal">
        <dt>
            Limite Inferior
        </dt>
        <dd>
            @Html.DisplayFor(m => m.LimiteInferior)
        </dd>
        <dt>
            Limite Superior
        </dt>
        <dd>
            @Html.DisplayFor(m => m.LimiteSuperior)
        </dd>
        <dt>
            Cuota Fija
        </dt>
        <dd>
            @Html.DisplayFor(m => m.CuotaFija)
        </dd>
        <dt>
            Excedente
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Excedente)
        </dd>
        <dt>
            Subcidio
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Subsidio)
        </dd>
        <dt>
            Impuesto
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Impuesto)
        </dd>
    </dl>
</div>
